# ==================== FLOW FACTORY RP — WEBSITE ====================
PORT=3000
NODE_ENV=production

# Discord OAuth — https://discord.com/developers/applications
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=https://TU-DOMINIO.vercel.app/auth/discord/callback
DISCORD_CALLBACK_URL=https://TU-DOMINIO.vercel.app/auth/discord/callback
DISCORD_GUILD_ID=
DISCORD_INVITE=https://discord.gg/

# Bot API (Railway)
BOT_API_URL=https://TU-BOT.up.railway.app
BOT_SECRET=

ADMIN_ROLE_IDS=1526381200824864852,1526381198874644541,1526382865170825306,1526382863002636400,1526382860397973506,1526382858133049404

SERVER_LOGO=/img/logo.png
WL_COOLDOWN_MINUTES=10
SESSION_SECRET=
CAPTCHA_SECRET=

# ===== MÚSICA DE FONDO (YouTube) =====
MUSIC_ENABLED=true
MUSIC_YOUTUBE_URL=https://www.youtube.com/watch?v=X2MGCIDOMZ4&list=RDX2MGCIDOMZ4&start_radio=1
# Volumen 0-100 (bajo pero audible)
MUSIC_VOLUME=18
# Autoplay al primer click en la página
MUSIC_AUTOPLAY=true
